{
    "presets": [
        // environment(like the target, browsers) 
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "last 5 versions",
                        "ie >= 8"
                    ]
                }
            }
        ]
    ]
}
